define {{"index"}}

{{template "header"}}
     <main role main="main" class = "inner cover">
    <h1 class ="cover-heading">Главная страница.</h1>
    <!--заглушка, чтобы страница не была пустой -->
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed molestiae quos accusamus provident, maxime aspernatur quae. Ipsa ipsam officia et, asperiores dolores molestias, illo dolore quaerat error perferendis maiores minima.</p>
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Узнать больше</a>
    </p>
    </main>
{{template "footer"}}
{{end}}
      
