 {{define "index"}}

{{template "header"}}
<main role main="main" class = "inner cover">
    <h1 class ="cover-heading">Главная страница.</h1>
    <p class = "lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sit ratione necessitatibus reiciendis adipisci cumque beatae sunt rerum quaerat quo ad optio inventore, esse porro, ipsa quisquam exercitationem at laborum.</p>
    <!--заглушка, чтобы страница не была пустой -->
    <p class="lead"></p>
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Узнать больше</a>
    </p>
    </main>
{{template "footer"}}
{{end}}
      
